@charset "utf-8";
/* CSS Document */

body {
  float: left;
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page-loading {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}

ul , ol {list-style:none; margin:0; padding:0}

* {margin:0 ; padding:0;}



.interface-outer {

display: table;
float: left;
margin: 0;
padding: 0;
vertical-align: middle;
width: 100%;
} 

.vertical-middle {
  display: table-cell;
  float: none;
  height: 100%;
  position: relative;
  vertical-align: middle;
  z-index: 99;
}


/*---------------------- header css ------------------------*/

.account-links-outer {
margin: 13px 0 0;
min-width: 160px;
padding-right: 15px;
text-align: right;
}

.logo-outer {
float: left;
margin: 0;
padding: 0;
width: auto;
}

#rank-header-outer {
  background-color: #000;
  float: left;
  height: auto;
  padding: 0;
  width: 100%;
}

#rank-header-outer nav {
  padding: 10px 15px;
}

.account-links-outer ul {margin:0; padding:0;}

.account-links-outer ul li {
border-right: 1px solid #fff;
display: inline-block;
font-size: 14px;
line-height: 14px;
margin: 0;
padding: 0 10px;
}

.account-links-outer ul li:last-child {
border-right: 1px solid transparent;
}


.account-links-outer ul li a{
color:#fff;
}


.get-rankhacker-form {
background-color: #1a1b1d;
box-sizing: border-box;
margin: 0 40px 0 0;
padding: 8px 20px 5px;
}

.rank-form-left, .rank-form-right {
float: left;
margin: 0;
padding: 0;
}

.rank-form-left h2 {
background-color: #fff;
color: #231f20;
display: block;
float: none;
font-size: 16px;
font-weight: bold;
letter-spacing: 5px;
line-height: normal;
margin: 0;
padding: 0 15px;
text-align: center;
text-transform: uppercase;
width: 100%;
font-family: 'Nixie One', cursive;
}

.rank-form-left .check-box-outer {
color: #fff;
float: left;
font-size: 14px;
margin: 0;
padding: 0;
width: 50%;
}

.rank-form-left .check-box-outer {
color: #fff;
float: left;
font-size: 14px;
margin: 0;
padding: 0;
text-align: center;
width: 100%;
}

.check-box-outer ul {
float: left;
margin: 0;
padding: 0;
width: 100%;
}

.header-right-side {
margin-top: 5px;
}

.check-box-outer ul li input[type="checkbox"] {
display: inline-block !important;
margin-right: 6px;
position: static !important;
}

.check-box-outer ul li {
  display: inline-block;
  margin: 0;
  min-width: 70px;
  padding: 0;
  text-align: left;
}


.rank-form-input {
background-color: #808080;
border: medium none;
color: #000;
display: inline-block;
font-size: 14px;
height: 35px;
margin: 0;
padding: 0 10px;
width: 200px;
}


.rank-form-btn {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
color: #fff;
font-size: 18px;
height: 28px;
letter-spacing: 2px;
margin: 0 0 0 10px;
padding: 0 10px;
position: relative;
text-transform: uppercase;
top: 1px;
border:none;
border-left:1px solid #fff;
border-right:1px solid #fff;
font-family: 'Nixie One', cursive;
}


.rank-form-left {
padding-right: 15px;
padding-top: 1px;
}


.rank-form-input:focus {border:none !important;}

.rank-form-btn:hover , .rank-form-btn:focus {
background-color: #fff;
color: #231f20;
}

/*---------------------- content css ------------------------*/

.feed-headding {
  background-color: #231f20;
  color: #fff;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 5em;
  letter-spacing: 10px;
  line-height: normal;
  margin: 50px 0 0;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.competitor-url-input-outer {
  border: 1px solid #000;
  border-radius: 8px;
  clear: both;
  display: inline-block;
  height: 75px;
  margin: 46px auto 0;
  position: relative;
  width: 60%;
}

.project-cards-outer {
  float: left;
  width: 100%;
}

.competitor-url-input-outer input {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 8px;
  color: #231f20;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 34px;
  height: 100%;
  margin: 0;
  padding: 0 0 0 110px;
  width: 100%;
}

.submit-url-btn {
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #242021;
clear: both;
color: #242021;
display: table;
float: none;
font-size: 40px;
font-weight: normal;
height: 65px;
line-height: 65px;
margin: 40px auto 0;
padding: 0 25px;
text-align: center;
width: auto;
font-family: "Montserrat",sans-serif;
}

.competitor-url-input-outer input:focus {
border-bottom: medium none;
box-shadow: 0 1px 0 0 transparent;
}

.competitor-url-input-outer label {
background-color: #000;
border-bottom-left-radius: 0;
border-top-left-radius: 0;
float: left;
height: 100%;
left: 0;
margin: 0;
padding: 0;
position: absolute;
text-align: center;
top: 0;
vertical-align: middle;
width: 80px;
z-index: 99;
}

.competitor-url-input-outer label i {
color: #808185;
font-size: 45px;
line-height: 70px;
}


.submit-url-btn:hover, .submit-url-btn:focus {
background-color: #ec1c24;
color: #fff;
border-color: #ec1c24;
}

.competitor-url-input-outer.focus-effect label i , .competitor-url-input-outer.focus-effect input{ color: #ec1c24;}

.competitor-url-input-outer.focus-effect input::-webkit-input-placeholder {
color: transparent;
}

.competitor-url-input-outer.focus-effect input:-moz-placeholder { /* Firefox 18- */
color: transparent;  
}

.competitor-url-input-outer.focus-effect input::-moz-placeholder {  /* Firefox 19+ */
color: transparent;  
}

.competitor-url-input-outer.focus-effect input:-ms-input-placeholder {  
color: transparent;  
}

.competitor-url-input-outer.focus-effect input {
font-family: 'Montserrat', sans-serif;
}










/*---------------------- storefront-steps css ------------------------*/

/** ANIMATIONS ***/

@keyframes clockwise{
to {transform: rotate(360deg) translatez(0);}
}


/****************************
MAGIC SPINNER
*****************************/

.magic { 
background-color: transparent;width:10px;height: 10px;border-radius: 100%; box-shadow:12px -12px 0      hsla(198, 77%, 52%, 0.125),17px    0 0 -1px hsla(198,77%, 52%, 0.250),12px 12px 0 -2px hsla(198, 77%, 52%, 0.375),0  17px 0 -3px hsla(198, 77%, 52%, 0.500),-12px  12px 0 -4px hsla(198, 77%, 52%, 0.625),-17px     0 0 -5px hsla(198, 77%, 52%, 0.750),-12px -12px 0 -6px hsla(198, 77%, 52%, 0.875),0 -17px 0 -7px hsla(198, 77%, 52%, 1.000);animation:clockwise 0.75s steps(8, end) infinite;float:none;margin:30px auto 0;}


/****************************
DOT SPINNER
*****************************/
.spin {background-color: transparent;width:10px;height: 10px;border-radius: 100%;box-shadow:12px -12px  hsla(198, 77%, 52%, 0.125),17px     0 hsla(198, 77%, 52%, 0.250),12px  12px hsla(198, 77%, 52%, 0.375),0  17px hsla(198, 77%, 52%, 0.500),-12px  12px hsla(198, 77%, 52%, 0.625),-17px     0 hsla(198, 77%, 52%, 0.750),-12px -12px hsla(198, 77%, 52%, 0.875),0 -17px hsla(198, 77%, 52%, 1.000);animation: clockwise 0.75s steps(8, end) infinite;float:none;margin:30px auto 0;}




.storefront-steps-outer li {
display: inline-flex;
float: left;
justify-content: flex-start;
overflow: hidden;
padding: 0 15px;
position: relative;
}

.storefront-steps-outer li:nth-child(2) {
justify-content: center;
}

.storefront-steps-outer li:nth-child(3) {
justify-content: flex-end;
}

.storefront-steps-outer li span {
color: #231f20;
float: left;
font-size: 20px;
max-width: 80%;
padding:20px 0 0 5px;
text-align: left;
width: auto;
white-space:nowrap;
}

.check-icon {
color: #27a8e1;
font-size: 45px;
font-weight: normal;
line-height: 65px;
padding: 0;
}


.storefront-steps-headding {
background-color: #231f20;
color: #fff;
display: table;
float: none;
font-family: 'Nixie One', cursive;
font-size: 3.5em;
letter-spacing: 10px;
line-height: normal;
margin: 0 auto;
min-width: 65%;
padding: 10px 25px;
text-align: center;
text-transform: uppercase;
width: auto;
}

.storefront-steps-outer li .step-icon {
float: left;
height: 65px;
margin: 0;
padding: 0;
text-align: center;
width: 65px;
}


.storefront-steps-outer .row {
margin:0 -15px 0;
}

.storefront-steps-outer {
margin-top: 25px;
}



.mail-note {
  color: #231f20;
  float: left;
  font-size: 28px;
  font-weight: 600;
  margin: 1em 0 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.red-text {color:#ec1c24 !important;}



/*---------- cart css ------------*/

.card-header a {color:#005cb9;}


.eagle-icon {background-image: url("../images/eggle-icon.png");background-position: center 4px;background-repeat: no-repeat;background-size: 100% auto;height: 25px;margin-right: 8px !important;width: 25px;float:left;}

.project-cards-outer .row {margin-bottom: 0;margin-left: -15px;margin-right: -15px;clear:both;}

.project-cart-box {background: #fff none repeat scroll 0 0;float: left;margin: 0;padding: 20px 0 ;width: 100%;}

.card-header, .cart-small-headding {color: #000;float: left;font-size: 13px;margin: 0 0 15px;padding: 0;width: 100%;}

.card-header {border-bottom: 1px solid #eff1f0;padding: 0 25px 15px;}

.card-header label {float: left;top: 2px;}

.card-header h1 {color: #005cb9;float: left;font-size: 20px;font-weight: 600;line-height: normal;margin: 0;padding: 0;}

.card-header .project-count {background-color: #e3272a;border-radius: 100%;color: #fff;display: inline-block;font-size: 12px;font-weight: 600;height: 28px;line-height: 28px;margin: 0 0 0 2px;position: relative;text-align: center;top: -1px;width: 28px;}

.cart-info {color: #44708e;float: left;font-size: 18px;margin: 0;padding: 0;width: 100%;}

.card-contact-info , .card-contact-info-right {float: left;font-size: 13px;font-weight: normal;line-height: normal;margin: 0 0 5px;padding: 0;width: 100%;}

.card-contact-info-right {color: #b2b2b2;}

.cart-contact-section {color: #000;float: left;font-size: 13px;margin: 0 0 15px;padding: 0;width: 100%;}

.cart-contact-section .cart-small-headding {margin-bottom: 5px;padding: 0;}

.card-contact-input {border: medium none;float: left;font-size: 13px;line-height: normal;margin: 0 0 5px;padding: 0;width: 100%;}

.card-box-detail-outer {
  float: left;
  margin: 0;
  min-height: 305px;
  padding: 0 25px;
  width: 100%;
}

.card-box-bottom {float: left;margin: 10px 0 0;padding: 0;width: 100%;}

.project-date-card {color: rgb(128, 128, 131);float: left;font-size: 14px;font-weight: 600;line-height: 20px;width: auto;}

.project-status-card {
  background-color: #c9e4ef;
  border-radius: 3px;
  color: #231f20 !important;
  float: right;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  padding: 2px 10px 4px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
}

.project-status-card.paused {background-color: #d1d2d3;}

.project-status-card:hover {text-decoration:none;}

.card-box-menus {color: #a5a5a5;float: right;font-size: 28px;margin: -5px 0;padding: 0;width: auto;}

.project-cards-outer ul li {margin-bottom: 30px;}

.green-circle {background-color:#188f48 !important;}

.sort-btns {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;color: #bbb;float: left;font-size: 14px;line-height: 25px;margin: 0;padding: 0;text-transform: uppercase;}

button.sort-btns:focus {
  background-color: transparent;
  outline: medium none;
}

span.date-attribute {
    display: none;
}



/****************************
TWO TONE SPINNER
*****************************/
.two {
height: 190px;
width:  190px;
border-width: 30px;
border-style: solid;
border-color: hsla(0, 0%, 100%, 0.75)
hsla(0, 0%, 100%, 0.75) hsla(0, 0%, 100%, 0.25) hsla(0, 0%, 100%, 0.25);
border-radius: 100%;
animation: clockwise .5s linear infinite;
margin:0 auto;
}

.loadding-bar {
float: left;
margin: 3em 0 0;
text-align: center;
width: 100%;
}


.storefront-steps-headding.blue-bg , .blue-bg {
background-color: #005cb9;
}



/* verify email */


.verify-bottom-section  h1{
font-size: 22px;
font-weight: bold;
margin: 0;
text-transform: uppercase;
color:#231f20;
line-height:normal;
}

.verify-bottom-section  .verify-note a{
color:#231f20;
text-decoration:none;
}

.verify-bottom-section .verify-note a:hover {
  color: #005cb9;
  text-decoration: underline !important;
}

.verify-bottom-section {
clear: both;
display: block;
margin-top: 1.2em;
}

.verify-content-outer {
float: left;
margin: 2em 0 0;
padding: 0;
width: 100%;
}



/* Proceed to the Dashboard */


.proceed-to-dashboard-btn {
background-color: #005cb9;
border: medium none;
color: #fff;
font-size: 5.5em;
font-weight: normal;
line-height: normal;
margin-top:1em;
padding: 5px 20px;
text-align: center;
text-transform: uppercase;
}


/*------------- Dashboard css ---------------*/

#dashboard-header .row {
margin: 0 -15px;
}

.user-info {
  color: #231f20;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 25px;
  text-align: left;
  text-transform: none;
  font-family: 'Montserrat', sans-serif !important;
}

.row-v-spacing {
  margin: 1.82rem 0 1.656rem;
}

.user-info a{
color: #231f20;
}
.user-info span {
  color: #231f20;
  float: left;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase !important;
  width: 100%;
  font-family: 'Montserrat', sans-serif !important;
}

#dashboard-header {
  margin-bottom: 25px;
  margin-top: 60px;
  padding-bottom: 15px;
}

#dashboard-header .view-option-outer ul li a ,#dashboard-header .rh-sort-menu ul li a,#dashboard-header .rh-views-menu ul li a,#dashboard-header .rh-actions-menu ul li a {color:#231f20;}

.box-shadow-ot {
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rt-box-competitors {
background-color: #6d6e70;
border: 3px solid transparent;
color: #fff;
float: left;
font-family: 'Nixie One', cursive;
font-size: 30px;
font-weight: bold;
height: 40px;
line-height: 35px;
margin: 0 0 2px;
overflow: hidden;
padding: 0;
white-space: nowrap;
width: 100%;
}

.heading-ct {
  color: #231f20;
  float: left;
  font-family: "Montserrat",sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 100%;
}

.competitors-rt-section ul {
margin: 0 -5px;
}

.competitors-rt-section ul li {
margin: 0;
padding: 0 5px;
}

.competitors-rt-section h2 {
color: #231f20;
float: left;
font-size: 16px;
line-height: normal;
margin: 0 0 15px;
padding: 0;
text-align: center;
text-transform: uppercase;
width: 100%;
}


.competitors-rt-section {
float: left;
margin: 0 0 25px;
padding: 0;
width: 100%;
}	


.competitors-rt-section.content-section h2 {
color: #1874bd;
}

.content-section .rt-box-competitors {
background-color: transparent;
border: 3px solid #ec1c24 ;
color: #231f20;
}

.card-box-menus i {
color: #b2b3b7;
}

.dashboard-status {
color: #fff;
float: left;
font-size: 1em;
font-weight: normal;
margin: 22px 0 0 30px;
}

.dashboard-status a{
color: #fff;
}

.report-dash-menu-outer {
  border-radius: 0;
  padding: 5px !important;
  text-align: center;
  width: 200px !important;
}

.report-dash-menu-outer li {
  display: inline-block;
  float: none;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  width: 58px;
}

.report-dash-menu-outer li i {
color: #b2b3b7;
font-size: 20px;
line-height: 20px;
padding: 0;
}

.report-dash-menu-outer li a{
padding:5px 0 !important;
}

.dashboard-status i {
float: left;
}

.bread-comb-outer {
  color: #231f20;
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 25px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.bread-comb-outer span {
  display: inline-block;
  float: none;
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 0 5px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.black_eagle-rh {
background-image: url("../images/black-eagle-icon.png");
background-position: center 4px;
background-repeat: no-repeat;
background-size: 100% auto;
border: medium none !important;
height: 40px;
margin-right: 0px !important;
margin-top: -13px !important;
padding: 0 !important;
position: relative;
width: 45px;
}

.white_eagle-rh {
background-image: url("../images/white-eagle-icon.png");
background-position: center 4px;
background-repeat: no-repeat;
background-size: 100% auto;
border: medium none;
height: 40px;
margin-right: 5px !important;
margin-top: -9px;
padding: 0;
position: relative;
width: 45px;
}

.rt-bottom-section {
  margin-bottom: 5%;
  margin-top: 5%;
}

.rh-actions-menu ul {
  float: right;
  width: auto;
}

.setting-block i, .rh-actions-menu ul .setting-block i {
  color: #231f20;
  font-size: 35px;
  margin: -6px 0 0;
  padding: 0;
}

.report-dash-menu-outer {border-top: 2px solid #005cb9;}

.report-dash-menu-outer:after {
  border-color: transparent transparent #005cb9;
  border-style: solid;
  border-width: 0 8px 8px;
  content: "";
  height: 0;
  left: 5px;
  margin: auto;
  position: absolute;
  top: -8px;
  width: 0;
  z-index: 2147483647;
}

/* drop-shadow-style1 */

.drop-shadow-style1
{
position:relative;
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.drop-shadow-style1:before, .drop-shadow-style1:after
{
content:"";
position:absolute;
z-index:-1;
-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
box-shadow:0 0 20px rgba(0,0,0,0.8);
top:50%;
bottom:0;
left:10px;
right:10px;
-moz-border-radius:100px / 10px;
border-radius:100px / 10px;
}
.drop-shadow-style1:after
{
right:10px;
left:auto;
-webkit-transform:skew(8deg) rotate(3deg);
-moz-transform:skew(8deg) rotate(3deg);
-ms-transform:skew(8deg) rotate(3deg);
-o-transform:skew(8deg) rotate(3deg);
transform:skew(8deg) rotate(3deg);
}


/*---------------------- report view css ------------------------*/


.report-view-outer {
  background-color: #fff;
  float: left;
  margin: 0;
  padding: 30px 30px 0;
  width: 100%;
}

.user-name-block {
  color: #231f20;
  font-family: "Nixie One",cursive;
  font-size: 2em;
  line-height: normal;
  margin: 1.2em 0 0;
  padding: 0;
  text-align: right;
  text-transform: uppercase;
}

.user-name-block a {
  color: #231f20;
  text-decoration: underline !important;
}

.report-created-date {
  color: #231f20;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 3em;
  line-height: normal;
  margin: 15px 0 0;
  padding: 0;
  width: 100%;
}

.site-url {
  color: #005cb9 !important;
  float: left;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}



.competitors-urlbox-outer {
  background-color: #c9e4ef;
  float: left;
  margin: 10px 0;
  padding: 20px 30px;
  width: 100%;
}

.competitors-urlbox-outer h2 {
  color: #231f20;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 2.5em;
  letter-spacing: 5px;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}

.report-section-1 .row {
  clear: both;
  margin: 0 -15px;
}

.url-boxes {
  background-color: #808185;
  border-radius: 10px;
  color: #fff;
  float: left;
  font-family: "Montserrat",sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: normal;
  padding: 5px 0 8px;
  position: relative;
  text-align: center;
  width: 100%;
}

.links-main-box {
  float: left;
  margin: 15px 0;
  padding: 0;
  width: 100%;
}

.links-main-box:last-child {
  margin-bottom:5px;
}

.add-more-url {
  background-color: transparent;
  border-radius: 0;
  color: #808185 !important;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: normal;
  padding: 2px 0 2px 5%;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.report-boxs {
  float: left;
  margin: 35px 0;
  padding: 0;
  width: 100%;
}

.report-heading {
  float: left;
  font-size: 2.8em;
  font-weight:bold;
  line-height: normal;
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color:#231f20;
  font-family: 'Montserrat', sans-serif;
}

.report-heading span {
  color: #231f20;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 28px;
  margin: 2px 0 0;
  text-transform: none;
  width: 100%;
}

.report-graph-outer {
  float: left;
  width: 100%;
}

.report-graph-outer img{
  float: left;
  width: 100%;
  height:auto;
}

.report-boxs .rt-box-competitors {
  font-size: 6.5em;
  height: 110px;
  line-height: 105px;
}

.report-boxs  .heading-ct {
  font-size: 1.5em;
  margin: 5px 0 0;
}





/*-------- old css ---------*/

.rh-actions-menu, .view-option-outer {
  padding: 1.2em 0 0;
}

.view-option-outer ul li {
  border-right: 1px solid #908e91;
  display: inline-block;
  float: left;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
}

.black_eagle-rh {
  background-image: url("../images/black-eagle-icon.png");
  background-position: center 4px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: medium none !important;
  height: 40px;
  margin-right: 0 !important;
  margin-top: -10px !important;
  padding: 0 !important;
  position: relative;
  width: 45px;
}

.view-option-outer ul li:last-child {
  border-right: medium none;
}

.rh-actions-menu ul li {
  font-size: 16px;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
}

.rh-actions-menu ul li a{
 color: #231f20;
}

.btn-round {
  border-radius: 30px;
}


.btn-orange {
  background-color: #f7921e;
  border: 1px solid transparent;
  color: #fff;
  padding: 8px 25px 8px 15px;
}

#create-new-project {
  margin-top: -8px;
}

#create-new-blueprint i, #create-new-blueprint i::before, #create-new-blueprint.icon-rh_add::before, #create-new-project i, #create-new-project i::before, #create-new-project.icon-rh_add::before {
  display: inline-block;
  float: left;
  font-size: 14px;
  padding: 1px 6px 0 0;
  text-align: center;
  width: auto;
}

#create-new-blueprint span, #create-new-project span {
  display: inline-block;
  float: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
}

.rh-actions-menu ul li {
  display: inline-block;
  float: left;
  padding: 0 10px;
}




/*---------------------- footer css ------------------------*/

#interface-footer {
  background-color: #3d3d3d;
  float: left;
  margin: 0;
  padding: 25px 0;
  position: relative;
  width: 100%;
  z-index: 99;
}

#interface-footer .row {
margin: 0 -15px;
}

.footer-link ul li {
border-right: 1px solid #b2b2b2;
color: #bcbdbf;
display: inline-block;
float: left;
font-size: 16px;
line-height: 16px;
margin: 0;
padding: 0 10px;
font-family: 'Nixie One', cursive;
}

.footer-link ul li  a , .footer-socail-icon ul li   a{
color: #bcbdbf;


}


.footer-link li:first-child {
padding-left: 0;
}

.footer-link ul li:last-child {
padding-right: 0;
border:none;
}

.footer-link a {
position: relative;
top: -1px;
}


.footer-socail-icon ul , .footer-link ul  {margin:0;padding:0;}

.footer-socail-icon ul li {
display: inline-block;
font-size: 16px;
line-height: 16px;
margin: 0;
padding: 0;
}

.footer-socail-icon ul li i {
margin: 0;
padding: 0 15px;
text-align: center;
}


.copy-right-section {
color: #bcbdbf;
float: right;
font-family: "Conv_Helvetica-Bold";
font-size: 18px;
line-height: 18px;
margin: 0;
padding: 0 0;
}


/**/

.report-tags {
  color: #231f20;
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:center;
}

.report-tags li {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  margin: 10px 20px 20px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.report-tags li span {
  background: #6d6e70 none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 50px;
  font-weight: normal;
  height: 50px;
  line-height: 50px;
  margin: 0 15px 0 0;
  min-width: 50px;
  text-align: center;
}



.report-bottom-links {
    color: #231f20;
    float: left;
    padding: 15px 40px;
    width: 100%;
}


.report-bottom-links ul {
    float: left;
    list-style: outside none none;
    width: auto;
}

.report-bottom-links ul li {
    display: inline-block;
    margin: 0 40px 0 0;
}

.report-bottom-links ul li:last-child {
    margin-right:0;
}

.rh-actions-menu ul li:hover a {
  text-decoration: underline !important;
}

.report-bottom-links ul li i {
  color: #afafaf;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.close-link {
  color: #afafaf !important;
  float: right;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  width: auto;
}


/* create new report page css */

.create-new-report .proceed-to-dashboard-btn {
  font-size: 4em;
}


#shadow {
  background-image: url("../images/shadow.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 110% auto;
  float: left;
  height: 30px;
  position: absolute;
  top: 100%;
  width: 100%;
}



#header #report-bg {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
   background: #B8B8BA url("../images/background-image2.png") no-repeat fixed center 100px !important;
    opacity: .15;
}

.rt-bottom-section h2 {
  color: #cccccc;
  float: left;
  font-size: 3.5em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: none;
  width: 100%;
}

.rt-bottom-section {
  display: table;
  margin:0 auto !important;
  max-width: 1200px;
  width: 100%;
}

.rt-bottom-outer {
  float: left;
  margin: 5% 0 10%;
  width: 100%;
}

.rt-bottom-section h2 span {
  background-color: #a2bfdc;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  line-height: normal;
  margin: 0 10px;
  padding: 0 15px 4px;
  text-transform: uppercase !important;
}

.rt-bottom-section p {
  color: #cccccc;
  float: left;
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  margin: 25px 0 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

.egle-icon-2 {
  background-image: url("../images/egle-icon-2.png");
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  height: 108px;
  margin-right: 4%;
  margin-top: -15px;
  width: 122px;
}

.project_status_sort.inactive {
  background-color: #6d6e70;
  color: #fff !important;
}

.report-view-outer {
  position: relative;
}

.close-btn {
  color: #cfcfcf;
  float: left;
  font-size: 2.5em;
  line-height: normal;
  position: absolute;
  right: 15px;
  top: 0;
  width: auto;
}

.report-header {
  margin-top: 20px;
}

  /* code for animated blinking cursor */
       /*  .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        } */
		.typed-cursor {
			visibility: hidden;
		}
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }

		

		
.blur_bg::after {
  background-color: rgba(197, 212, 220,1);
  background-image: url("../images/background-blur.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto auto;
}

.blur_bg::after {
  content: "";
  filter: blur(8px);
  -ms-filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.blur_bg {
  overflow: hidden;
  position: relative;
}

.proceed-to-dashboard-btn:hover {
  background-color: #ec1c24;
}


/*--------------------- Competitive Content inventory ---------------------*/

#cc-inventory-header {
  margin-bottom: 40px;
  margin-top: 10em;
}


.competitive-headding {
    background-color: #231f20;
    display: table;
    float: none;
    font-family: "Nixie One",cursive;
    font-size: 3em;
    line-height: normal;
    margin: 0 auto;
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

.revealed-link {
  color: #005cb9 !important;
  float: left;
  font-size: 3.5em;
  line-height: normal;
  margin: 10px 0 20px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.competitive-details-outer {
  margin-top: 2em;
}

.revealed-link:hover {color:#26a9e0 !important;}

.competitive_inventory_outer .report-header {
  margin-top: 0;
}


.competitive_inventory_outer {
  margin-bottom: 10%;
}


.inventory-heading2 {
    color: #231f20;
    float: left;
    font-size: 2.5em;
    line-height: normal;
    margin: 15px 0 25px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}


.rt-info-outer .left-side-cci .rt-box-competitors {
  background-color: #231f20;
  font-family: "Nixie One",cursive;
  font-size: 12em;
  height: auto;
  line-height: normal;
  margin: 0 0 2px;
}

.rt-info-outer .right-side-cci .rt-box-competitors {
  font-family: "Nixie One",cursive;
  font-size: 6em;
  height: auto;
  line-height: normal;
  margin: 0 0 2px;
}

.rt-info-outer .left-side-cci  .heading-ct {
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight:normal;
}

.right-side-cci {
  padding-left: 6%;
}

.score-outer {
  float: left;
  margin: 0;
  padding: 0 0 15px;
  width: 100%;
}

.rt-info-outer .right-side-cci .heading-ct {
  font-size: 1.4em;
  font-weight: normal;
  text-transform: uppercase;
}

.inventory-small-heading {
  color: #231f20;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 22px;
  margin: 15px 0 5%;
  text-transform: none;
  width: 100%;
}

.competitive-inventory-form-outer {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.competitive-inventory-form-outer h2 {
  background-color: #eb1c24;
  color: #fff;
  float: left;
  font-size: 2.1em;
  line-height: normal;
  margin: 0;
  padding: 10px;
  width: 100%;
}


.inventory-inputs-outer {
    float: left;
    margin: 0;
    padding: 0 5%;
    width: 100%;
}

.inventory-inputs-outer li  , .inventory-inputs-outer ul{
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.inventory-inputs-outer .them-inputs ul{
    margin-bottom: 50px;
}

.inventory-inputs-outer li  {
  margin: 0 0 30px;
  position:relative;
}

.inventory-inputs-outer input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  color: #a6a7ab;
  float: left;
  font-size: 22px;
  height: 55px;
  line-height: 55px;
  margin: 0;
  padding: 0 10px 0 90px;
  width: 100%;
}


.inventory-inputs-outer li   label {
    background-color: #000000;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    height: 55px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 65px;
	z-index:9;
}

.you-inputs {
  padding-right: 5%;
}

.them-inputs {
  padding-left: 5%;
}

.wrap-img {
  clear: both;
  margin: 0;
}

.wrap-img img {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.competitive_inventory_outer .report-created-date {
  font-size: 2.5em;
  margin: 0;
  padding: 75px 8% 0 0;
}


.inventory-inputs-outer li .valida-note {
    color: #231f20;
    float: left;
    font-size: 18px;
    margin: 5px 0 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
}

.get_declassified-btn {
  background-color: #005cb9;
  border: medium none;
  color: #fff;
  cursor: pointer;
  display: table;
  float: none;
  font-size: 3.5em;
  font-weight: normal;
  line-height: normal;
  margin: 0 auto;
  padding: 10px 5%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

.get_declassified-btn span {
  background: red none repeat scroll 0 0;
  bottom: -25px;
  font-family: "Nixie One",cursive;
  font-size: 30px;
  padding: 5px 15px;
  position: absolute;
  right: -25px;
  transform: rotate(-2.5deg);
  -webkit-transform: rotate(-2.5deg);
}


.inventory-inputs-outer .you-inputs , .inventory-inputs-outer .them-inputs{
  background-image: url("../images/hr-line.png");
  background-position: 75% top;
  background-repeat: repeat-y;
}

.hr-line {
  background-image: url("../images/hr-line.png");
  background-position: 15% top;
  background-repeat: repeat-y;
  float: left;
  height: 4.5em;
  width: 100%;
}
.them-inputs li:last-child {
  margin-bottom: 0;
}

.vs-icon {
  background-color: #000;
  float: left;
  height: 1px;
  left: 45%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25px;
  width: 10%;
  z-index: 99;
}

.vs-icon span {
  background: #e71c23 none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  display: table;
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  margin: -22px auto 0;
  position: relative;
  text-align: center;
  width: 45px;
  z-index: 99;
}

.form-in {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.cut-section-note {
  background: #231f20 none repeat scroll 0 0;
  float: left;
  margin: 0;
  padding: 0 0;
  text-align: center;
  width: 100%;
}

.cut-section-note h1 {
  color: #ed1b24;
  font-size: 2.8em;
  font-weight: normal;
  line-height: normal;
  margin: 0 auto;
  max-width: 2000px;
  padding: 25px  5%;
  text-transform: uppercase;
  width: 100%;
  display:table;
}

.cut-section-note h1 span {
  color: #d1d2d4;
  float: left;
  text-align: right;
  width: 100%;
  font-size: 24px;
}

.img-outer img {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}